.heroTabContainer {
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.8);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    min-height: 10vh;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 34px;
    border-right: 2px solid #212c42;
    transition: box-shadow .3s ease-out, border .1s ease-in, font-size .1s ease-out;
}

.heroTabContainer:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.6);
    font-size: 33px;
}

.iconArrow {
    margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
    .heroTabContainer {
        font-size: 18px;
        text-align: center;
    }

    .heroTabContainer:hover {
        font-size: 17px;
    }
}